# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
# Pdf
*.pdf
*.png
#npy files
*.npy
*.parquet
*.pkl
*.out
*.csv
*.lock
*.root
*.h5
*.keras
status*.txt
CMSSW_14*
systematics/**/*json
systematics/**/*gz
systematics/**/*yml
systematics/**/*__empty*
systematics/**/README.md
systematics/**/*.html
systematics/**/*.sh
systematics/**/*.php
*.pth
model_summary*
dict.json
training.txt
model.pth
model/*
performance/*